$primary: #447fe3;
$primary-light: #f7faff;
$secondary: #D500F9;
$link-header: #b6bdcc;
$primary-link: #6772e5;
$primary-link-hover: #32325d;
$success: #3ecf8e;
$danger: #FA6D46;
$gray: #9699A7;
$warning: #fa755a;
$light-gray: #e6e9ef;
$card-shadow: 0 1px 6px rgba(0,0,0,0.06), 0 1px 6px rgba(0,0,0,0.05);
$card-shadow-2: 0 2px 6px rgba(0,0,0,0.1);
